{% extends "app/base.html" %} 
{% load static %}
  {% block register %}
  <div class="product" style="display:flex;flex-wrap:wrap; margin-left: 100px; margin-bottom: 30px">
    {%for product in products%}
    <div class="product_item" style="margin: 20px;padding:20px; box-shadow: 0 0 20px rgba(0,0,0,0.25); background-color:white; border-radius: 15px;">
      <img src="{{product.ImageURL}}" width="295pxpx" height="200px" />
      <div class="product_item_add">
        <h4>{{product.name}}</h4>
        <button
          data-product="{{product.id}}"
          data-action="add"
          class="product_item_button btn btn-outline-secondary rounded add-btn update-cart"
        >
          Add to cart
        </button>
        <a
          class="btn btn-outline-success rounded"
          href="{% url 'detail'%}?id={{product.id}}"
        >
          View
        </a>
        <h4 style="display: inline-block; float: right">
          <strong>${{product.price}}</strong>
        </h4>
      </div>
    </div>
    {%endfor%}
  </div>

  {% endblock register%}
